/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* typography */

@font-face {
  font-family: 'Averia Serif Regular';
  src: url(../assets/typography/AveriaSerif-Regular.ttf);
}

@font-face {
  font-family: 'Averia Serif Bold Italic';
  src: url(../assets/typography/AveriaSerif-BoldItalic.ttf);
}

@font-face {
  font-family: 'Averia Serif Light Italic';
  src: url(../assets/typography/AveriaSerif-LightItalic.ttf);
}

@font-face {
  font-family: 'Averia Serif Bold';
  src: url(../assets/typography/AveriaSerif-Bold.ttf);
}

@font-face {
  font-family: 'Agrandir';
  src: url(../assets/typography/Agrandir-Regular.otf);
}

@font-face {
  font-family: 'Agrandir Narrow';
  src: url(../assets/typography/Agrandir-Narrow.otf);
}

@font-face {
  font-family: 'OPTIArtCraft';
  src: url(../assets/typography/OPTIArtCraft-Bold.otf);
}

body {
  overflow-x: hidden;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  background-clip: padding-box;
  padding-left: 15px; /* gutter size */
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  /* background: grey; */
  margin-bottom: 15px;
}

.thumbnail-border {
  border: 2px solid black;
}

.related-preview-deco {
  border: 1px solid black;
  width: 40px;
}

.preview-main-deco {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  color: #515151;
}

.line {
  border: 1px solid black;
  width: 25%;
}
.main-image-caption {
  color: #969696;
}

.hero-line {
  border: 1px solid white;
  width: 25%;
}

.related-line {
  border: 1px solid black;
  width: 20%;
}

@media only screen and (min-width: 500px) {
  .preview-block:hover {
    background: #ffff00;
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.25);
    transform: rotate(2deg);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
  }
}

.related-preview-block:hover {
  background: #ffff00;
  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.25);
  transform: rotate(2deg);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
}

.width-200 {
  width: 200px;
}

.mobile-navbar-box {
  border-radius: 3.71271px 0px 0px 3.71271px;
  border: 1.5px solid #000000;
  box-sizing: border-box;
  background: #ffffff;
}

.info-box {
  /* background: linear-gradient(180deg, #c4c4c4 24.78%, #ffff00 100%); */
  box-sizing: border-box;
  border-radius: 0px;
  max-height: 975.57px;
}

.radial-gradient {
  border: 2px solid #000000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fffe54;
  background: #e9e9e0;
}

::selection {
  color: #fffe54;
  background: #e9e9e0;
}

.interviews:hover {
  color: #4045a8;
}

.stuff-we-like:hover {
  color: #8a7536;
}

.radio:hover {
  color: #d10000;
}

.info:hover {
  color: #93bcd2;
}
.info:focus {
  color: #93bcd2;
}

.svg-scale {
  width: 100%;
  height: auto;
}

.search-icon {
  font-size: 20px;
}

@media only screen and (min-width: 1920px) {
  .Search-icon {
    font-size: 26px;
  }
}

@media only screen and (max-width: 500px) {
  /* body {
    overflow-x: hidden;
  } */
  .logo-container {
    width: 4.5em;
  }
}

.logo-container {
  width: 7em;
}

.info-open {
  overflow-y: hidden;
}
