


html{
  font-size: 15px;
  line-height: 1.3; /* Explicit line height */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@supports (height: 100dvh) {
  .h-screen-safe {
    height: 100dvh !important;
  }
}


/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* typography */

@font-face {
  font-family: 'Averia Serif Regular';
  src: url(/assets/typography/AveriaSerif-Regular.ttf);
}

@font-face {
  font-family: 'Averia Serif Bold Italic';
  src: url(/assets/typography/AveriaSerif-BoldItalic.ttf);
}

@font-face {
  font-family: 'Averia Serif Light Italic';
  src: url(/assets/typography/AveriaSerif-LightItalic.ttf);
}

@font-face {
  font-family: 'Averia Serif Bold';
  src: url(/assets/typography/AveriaSerif-Bold.ttf);
}

@font-face {
  font-family: 'Agrandir';
  src: url(/assets/typography/Agrandir-Regular.otf);
}

@font-face {
  font-family: 'Agrandir Narrow';
  src: url(/assets/typography/Agrandir-Narrow.otf);
}


@font-face {
  font-family: 'OPTIArtCraft';
  src: url(/assets/typography/OPTIArtCraft-Bold.otf);
}

@font-face {
  font-family: 'CopenhagenGrotesk';
  src: url(/assets/typography/CopenhagenGrotesk.otf);
}

body {
  font-size: 15px;
  line-height: 1.3; /* Match html */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
   overflow-x: hidden;
}

/* Force consistent spacing */
* {
  line-height: inherit; /* Inherit from parent */
}


.p-wrap {
  white-space: pre-wrap;
}

.thumbnail-drop-shadow {
  filter: drop-shadow(3px 4px 8px rgba(0, 0, 0, 0.16));
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
  padding-top: 5px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.my-masonry-grid_column {
  background-clip: padding-box;
  padding-left: 20px; /* gutter size */
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  /* background: grey; */
  margin-bottom: 15px;
}

@media only screen and (max-width: 499px) {
  .my-masonry-grid {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 0;
  }
}

.thumbnail-border {
  border: 2px solid black;
}

.related-preview-deco {
  border: 1px solid black;
  width: 40px;
}

.preview-main-deco {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  color: #515151;
}

.line {
  border: 1px solid black;
  width: 25%;
}
.main-image-caption {
  color: #969696;
}

.hero-line {
  border: 1px solid white;
  width: 25%;
}

.related-line {
  border: 1px solid black;
  width: 20%;
}


@media only screen and (min-width: 500px) {
  .preview-block:hover {
    background-image: url(/assets/background/ylw_bkgd_noise_card_LARGE.jpg);
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.25);
    transform: rotate(2deg);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .preview-block:hover .masonry-item-text {
    padding-left: 0.25rem;
    padding-bottom: 0.25rem;
  }

}


.related-preview-block:hover {
  background-image: url(/assets/background/ylw_bkgd_noise_card_SMALL.jpg);
  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.25);
  transform: rotate(2deg);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
}

.width-200 {
  width: 200px;
}

.mobile-navbar-box {
  border-radius: 3.71271px 0px 0px 3.71271px;
  border: 2px solid #000000;
  box-sizing: border-box;
  background: #ffffff;
}

.mobile-navbar-box-dark {
  border-radius: 3.71271px 0px 0px 3.71271px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  background: #000000;
}

.x-box {
  /* background: linear-gradient(180deg, #c4c4c4 24.78%, #ffff00 100%); */
  box-sizing: border-box;
  border-radius: 0px;
  height: 100vh;
}

.radial-gradient {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  box-shadow: -4px 4px 14px 2px rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 499px) {
  .radial-gradient {
    height: 100%;
  }
  .interviews:hover,
  .stuff-we-like:hover,
  .radio:hover,
  .info:hover {
    text-decoration: underline;
  }
  .preview-block:active .masonry-item-text {
    text-decoration: underline;
    color: #4045a8;
  }
  .preview-block:active .line {
    border-top: 1px solid #4045a8;
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: #fffe54;
  background: #e9e9e0;
}

::selection {
  color: #fffe54;
  background: #e9e9e0;
}

.interviews:hover,
.interviews-active {
  color: #4045a8;
}

.stuff-we-like:hover,
.stuff-we-like-active {
  color: #8a7536;
}

.radio:hover,
.radio-active {
  color: #d10000;
}
.search-active {
  color: #7045a4;
}
.info:hover {
  color: #93bcd2;
}
/* .info:focus {
  color: #93bcd2;
} */

.info-color {
  color: #93bcd2;
}
.svg-scale {
  width: 100%;
  height: auto;
}

.search-icon {
  font-size: 20px;
}

@media only screen and (min-width: 1920px) {
  .Search-icon {
    font-size: 26px;
  }
}

@media only screen and (min-width: 768px){
  .radio-placeholder {
    background-image: url(/assets/placeholder/way-out-background-1600w.png)
  }
}

.hero-text-wrap-bg{
  background: url(/assets/background/hero-background.png);
  background-size: 100%;
  background-color: black;
}


@media only screen and (max-width: 1024px) {
  /* body {
    overflow-x: hidden;
  } */
  .svg-logo-container {
    width: 4.5em;
  }
  .info-box {
    top: 0;
  }
  .radio-placeholder {
    background-image: url(/assets/placeholder/way-out-background-phone.png)
  }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .radio-placeholder {
    background-image: url(/assets/placeholder/way-out-background-tablet.png)
  }
}



.footer-logo-container {
  /* content: url(/assets/logos/footer-logo.png); */
  width: 3em;
}

@media only screen and (min-width: 500px) {
  .logo-container {
    width: 9em;
    height: 8em;
    content: url(/assets/logos/way_out_vector_transparent-01_.png);
  }

  .info-box {
    top: 0px;
    height:100vh
  }
  .gif {
    background-image: url(/assets/logos/wayoutgif_alpha04.gif);
    background-size: 9em 8em;
    width: 9em;
    height: 8em;
    position: absolute;
    opacity: 0;
  }

  .gif:hover {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }
  .logo-gold-container {
    width: 6em;
    height: 5em;
    content: url(/assets/logos/way_out_vector_transparent-gold_no-white-space.png);
  }
}

.hero-img {
  position: relative !important;
}

.unset-img {
  width: 100%;
}
.unset-img > div {
  position: unset !important;
}

.logo-container:hover {
  opacity: 0;
}
.no-scroll {
  overflow-y: hidden;
}

button:focus {
  outline: none;
}

.br {
  display: block;
  margin-bottom: 0.6em;
}

.subscribe-input {
  border: 0px solid #000000;
  border-bottom-width: 2px;
  background-color: transparent;
  width: 60vw;
}

*:focus {
  outline: none;
}

.join-search-bg {
  background-image: url(/assets/background/search_bar_1920px_w.jpg);
}

.top-80 {
  top: 80px;
}

.button-underline {
  text-decoration: underline;
  /* display: inline-block; */
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.linebreak {
  display: block;
  line-height: 10px;
}

.is-search-visible {
  transition: max-height 0.25s ease-in-out, opacity 0.25s ease-in-out;
  max-height: 52px;
  opacity: 1;
}

.header-search {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: max-height 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -o-transition: max-height 0.25s ease-in-out, opacity 0.25s ease-in-out;
  transition: max-height 0.25s ease-in-out, opacity 0.25s ease-in-out;
  overflow: hidden;
}

.border-width-1 {
  border-width: 1px;
}

.yellow-pattern {
  background-image: url(/assets/background/ylw_bkgd_noise_card_LARGE.jpg);
  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.25);
}

.extra-bold {
  text-shadow: 0 0.003em, 0.003em 0, 0.003em 0.003em;
}

.yt-lite {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

/* gradient */
.yt-lite::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
  background-position: top;
  background-repeat: repeat-x;
  height: 60px;
  padding-bottom: 50px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
  thanks https://css-tricks.com/responsive-iframes/
*/
.yt-lite::after {
  content: "";
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}
.yt-lite > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* play button */
.yt-lite > .lty-playbtn {
  width: 70px;
  height: 46px;
  background-color: #212121;
  z-index: 1;
  opacity: 0.8;
  border-radius: 14%; /* TODO: Consider replacing this with YT's actual svg. Eh. */
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.yt-lite:hover > .lty-playbtn {
  background-color: #f00;
  opacity: 1;
}
/* play button triangle */
.yt-lite > .lty-playbtn:before {
  content: '';
  border-style: solid;
  border-width: 11px 0 11px 19px;
  border-color: transparent transparent transparent #fff;
}

.yt-lite > .lty-playbtn,
.yt-lite > .lty-playbtn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

/* Post-click styles */
.yt-lite.lyt-activated {
  cursor: unset;
}
.yt-lite.lyt-activated::before,
.yt-lite.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}

.drop-cap-letter {
  float: left;
  font-size: 6rem;
  margin-top: 0.45em;  
  line-height: 0.2;
  padding-right: 0.1em;
  font-weight: bold;
  color: #333;
}

@media only screen and (max-width: 499px) {
 .drop-cap-letter {
  float: left;
  font-size: 4rem;
  margin-top: 0.45em;  
  line-height: 0.2;
  padding-right: 0.1em;
  font-weight: bold;
  color: #333;
}
}

.sticky-footer-radio {
  height: 109.38px
}

.play-button {
  height: 24px;
  width: 24px;
  stroke-width: 0.5px;
}

.desktop-radio-content-container{
padding-top: 10px;
padding-bottom:18px;
 /* padding-left: 75px;
  padding-right: 75px;     */
height: 500px;
}
/* for tablets  */
/* @media only screen and (min-height: 1000px ){
.desktop-radio-content-container{
padding-top: 100px;
padding-bottom:36px;
height: 800px;
}
} */

.radio-thumbnail-square {
  width: 490px;
  height: 490px;
}

@media only screen and (max-height: 800px){
      .radio-thumbnail-square {
    width: 470px;
    height: 470px;
  } 
  .desktop-radio-content-container{
    height: 470px;
  }
}
@media only screen and (min-width: 1536px){
    .radio-thumbnail-square {
    width: 620px;
    height: 620px;
  }
  .desktop-radio-content-container{
padding-top: 18px;
 /* padding-left: 75px;
  padding-right: 75px;     */
height: 640px;
}
}

/* @media only screen and (max-width: 1280px){
    .radio-thumbnail-square {
    width: 470px;
    height: 470px;
  } 
  .desktop-radio-content-container{
    height: 470px;
  }
} */


@media only screen and (max-width: 1160px){
    .radio-thumbnail-square {
    width: 400px;
    height: 400px;
  }
.desktop-radio-content-container{
  height: 420px;
}
}

@media only screen and (max-width: 768px){
.radio-preview-block:active .radio-preview-text-box{
  background-color: #FFFF00
}

.radio-preview-block:active .radio-preview-episode-label, 
.radio-preview-block:active .radio-preview-title, 
.radio-preview-block:active .radio-preview-subtitle {
  color: black 
}

.radio-preview-block:active .radio-tags {
  color:white;
  background-color: black;
  border-color: black;
}
}
